.box {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .form {
    margin-bottom: 20px;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .card {
    width: 200px;
    border: 1px solid black;
  }
  .plane {
    transform: rotate(360 deg);
  }